<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Raleway:wght@100&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Raleway:wght@100&family=Righteous&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Raleway:wght@100&family=Righteous&family=Roboto:wght@100&family=Source+Sans+3:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Dosis:wght@200&family=Fira+Sans:ital,wght@0,100;0,400;1,400&family=IBM+Plex+Sans&family=Montserrat:wght@100;500;600&family=Raleway:wght@100&family=Righteous&family=Roboto:wght@100&family=Source+Sans+3:wght@200&family=Space+Grotesk&display=swap" rel="stylesheet">
    <style>
        #cart {
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
            width: 400px;
            margin: 0 auto;
        }

        h2 {
            font-size: 1.5em;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 5px;
        }

        .item-image {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        .item-details {
            flex: 1;
        }

        .item-name {
            font-weight: bold;
        }

        .item-price {
            font-size: 1.2em;
        }

        .item-quantity {
            flex-basis: 60px;
        }

        .remove-button {
            background-color: #ff0000;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <div style="background-color:#000000;height: 35px;"></div>
        <div class="hdr">
            <img src="images/WhatsApp Image 2023-09-06 at 11.27 1.svg" class="hdr-img">
            <nav class="nav">
                <a href="#" class="nav-link">Cakes</a>
                <a href="#" class="nav-link">Order</a>
                <a href="#" class="nav-link">Contact Us</a>
                <a href="#" class="nav-link"><img src="images/Vector1.svg"></a>
                <a href="#" class="nav-link"><img src="images/Vector (1).svg"></a>
            </nav>
        </div>
    </header>
    <section>

        {% comment %} <div id="cart">
            <h2>Your Shopping Cart</h2>
            <div class="cart-item">
                <img class="item-image" src="product1.jpg" alt="Product 1">
                <div class="item-details">
                    <div class="item-name">Product 1</div>
                    <div class="item-price">$19.99</div>
                </div>
                <div class="item-quantity">
                    <input type="number" value="1">
                </div>
                <button class="remove-button">Remove</button>
            </div>
            <div class="cart-item">
                <img class="item-image" src="product2.jpg" alt="Product 2">
                <div class="item-details">
                    <div class="item-name">Product 2</div>
                    <div class="item-price">$29.99</div>
                </div>
                <div class="item-quantity">
                    <input type="number" value="1">
                </div>
                <button class="remove-button">Remove</button>
            </div>
           
            <hr>
            <div class="cart-item">
                <div class="item-details">
                    <div class="item-name"><strong>Total:</strong></div>
                    <div class="item-price"><strong>$49.98</strong></div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="cart-card">
            <h2>Card Details</h2>
            <div class="cart-flex">
                <h6>Card type</h6>
                <img src="images/attractive-woman-with-beautiful-smile-sitting-lotus-pose-floor-using-silver-notebook-looking-away-isolated-white-wall 1.svg">
            </div>
            <div class="cart-flex">
                <div>
                    <img src="images/Rectangle 9.svg">
                </div>
                <div>
                    <img src="images/Rectangle 10.svg">
                </div>
                <div>
                    <img src="images/Rectangle 11.svg">
                </div>
                <div>
                    <img src="images/Rectangle 12.svg">
                </div>
            </div>
            <form>
                <label>Name on card</label>
                <input type="text" placeholder="Name">
                <label>Card Number</label>
                <input type="number" placeholder="1111 2222 3333 4444">
                <div>
                    <div>
                        <label>Expiration date</label>
                        <input type="date" placeholder="mm/yy">
                    </div>
                    <div>
                        <label>CVV</label>
                        <input type="number" placeholder="123">
                    </div>
                </div>
            </form>
            <hr class="cart-hr">
            <div>
                
            </div>
        </div>
    </section>
    <footer>
        <img src="images/WhatsApp Image 2023-09-06 at 11.27 1.svg">
        <div class="ftr-flex">
            <a href="#" class="ftr-link">Home</a>
            <a href="#" class="ftr-link">Stuffing</a>
            <a href="#" class="ftr-link">Order</a>
            <a href="#" class="ftr-link">Contact Us</a>
        </div>
        <div class="ftr-img">
            <img src="images/wtsapp.svg">
            <img src="images/baseline-facebook (2) 2.svg">
            <img src="images/instagram (2).svg">
            <img src="images/x.svg">
        </div>
        <hr class="ftr-hr">
        <p class="ftr-p">Copyright cake walk</p>
    </footer>
</body>
</html>